/* Home specific style */
.assistance{
    .container{
        display: block;
        max-width: 1000px;
        margin: 0 auto;
        padding: 80px 80px 120px 80px;
    }
    .logo{
        margin-bottom: 150px;
        display: block;
    }
    .list-faq{
        margin-top: 60px;
        li{
            position: relative;
            padding: 25px 30px 0px 30px;
            margin-bottom: 10px;
            border: #CCD7D4 solid 1px;
            border-radius: 6px;
            font-size: 1em;
            font-weight: 500;
            color: $dark-green;
            cursor: pointer;
            &:before{
                display: none;
            }
            .top{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .title-faq{
                    padding-right: 35px;
                }
            }
            svg{
                flex: 0 0 auto;
                display: block;
                align-self: center;
                transition: transform 0.2s ease-out;
            }
            .infos{
                max-height: 840px;
                color: #7B7B7B;
                margin-top: 20px;
                overflow: hidden;
                transition: max-height 0.3s ease-out;
                p{
                    padding-bottom: 25px;
                }
            }
            &.disable{
                min-height:76px;
                overflow: hidden;
                .infos{
                    max-height: 0;
                    transition: max-height 0.3s ease-out;
                }
                svg{
                    transform: rotate(180deg);
                }
            }
        }
    }
    .contact{
        background-color: $dark-green;
        color: #ffffff;
        text-align: center;
        .title-contact{
            font-size:3.4rem;
            line-height: 4.4rem;
            font-weight: 600;
            margin-bottom: 15px;
        }
        p{
            font-size:2rem;
            line-height: 3rem;
            margin-bottom: 70px;
            color: #ffffff;
        }
        .cta{
            font-size: 1.6rem;
            background: $orange;
            padding: 25px 35px;
            width: fit-content;
            margin: 40px auto 0;
            color:#ffffff;
            text-decoration: none;
            border-radius: 8px;
            font-weight: 500;
            &:hover{
                background: $light-orange;
            }  
        }
        .container{
            padding: 130px 80px;
        }
    }
}

@media only screen and (max-width: 600px) {

    .assistance{
        .container{
            padding: 40px;
        }
        .logo{
            margin-bottom: 100px;
            display: block;
        }
        .contact{
            .container{
                padding: 40px;
                .title-contact{
                    font-size: 3rem;
                }
                p{
                    font-size: 1.7rem;
                    margin-bottom: 50px;
                }
            }
        }
    }
}
@media only screen and (max-width: 400px) {
    .assistance{
        .contact{
            .container{
                .title-contact{
                    font-size: 2.4rem;
                    line-height: 3.4rem;
                }
                .cta{
                    font-size: 1.2rem;
                    padding: 25px;
                }
            }
        }
    }
}