/* Home specific style */
.mentions{
    .container{
        display: block;
        max-width: 1000px;
        // background: red;
        margin: 0 auto;
        padding: 80px;
        //     margin: 0 auto;
    }
    .logo{
        margin-bottom: 150px;
        display: block;
    }
}

.bold{
    font-weight: 600;
    color: $dark-green;
}

@media only screen and (max-width: 500px) {

    .mentions{
        .container{
            padding: 40px;
        }
        .logo{
            margin-bottom: 100px;
            display: block;
        }
    }

}